<!-- your html code here -->
<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="">
            <h1>Portfolio</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget nunc interdum, molestie erat dapibus,
            ultricies libero. Fusce eget urna molestie, aliquam nulla sit amet, porta ante.</p>
        </div>    
        <div class="card col-4 me-3" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="img-thumbnail" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Proyect Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor tincidunt
                    lacus eu viverra. </p>
            </div>
        </div>
        <div class="card col-4 me-3" style="width: 18rem;">
             <img src="./assets/img/big-project-image.png" class="img-thumbnail" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Proyect Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor tincidunt
                    lacus eu viverra. </p>
            </div>
        </div>
        <div class="card col-4 me-3" style="width: 18rem;">
             <img src="./assets/img/big-project-image.png" class="img-thumbnail" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Proyect Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor tincidunt
                    lacus eu viverra. </p>
            </div>
        </div>
    </div>
</div>