<div class="container-fluid bg-secondary">
    <div class="row row-col-2 justify-content-center p-2">
        <div class="col-4">

            <img src="https://static.wikia.nocookie.net/ssbb/images/d/dd/Yoshi_lanzando_un_huevo_Super_Mario_64_DS.jpg/revision/latest?cb=20151222192348&path-prefix=es" class="rounded-circle" alt="Cinque Terre">
        </div>
        <div class="col-8">
            <h1>The Second Heading <p class="text-secondary">Is Pretty Cool Too</p></h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores animi delectus commodi recusandae fuga minus magni. Porro consequatur odit inventore. Neque voluptates odit minima corporis aspernatur, quo tempore nesciunt laborum iste, alias fuga maxime? Quo debitis, qui deleniti enim neque commodi. Itaque quod ipsum iste earum perspiciatis commodi dignissimos! Esse.</p>
        </div>
    </div>

</div>
